body {
    background-color: #fafafa;
}

.trend-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.trend-container-div {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #f3f3f3;
    width: 380px;
    height: 430px;
    border-radius: 6px;
}

.password-email-header {
    color: #333333;
    margin-top: 25px;
    margin-bottom: 7px;
    margin-left: 20px;
}

.password-email-input {
    background-color: #F5F5F5;
    width: 340px;
    height: 40px;
    border: 1px solid #e6e6e6;
    margin: 2px auto;
    border-radius: 6px;
}

.forgot-password {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #383838;
    margin-right: 20px;
}

.sign-in-button {
    background-color: #f27919;
    border: 1px solid #f27919;
    color: #ffffff;
    height: 45px;
    width: 340px;
    margin: 2px auto;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;

}

.facebook-google-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
}

.facebook-google {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #e6e6e6;
    height: 50px;
    width: 160px;
    margin: 10px;
    border-radius: 6px;
    font-size: 14px;
}

.facebook-button-span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b6ea8;
    color: #ffffff;
    height: 34px;
    width: 35px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
}

.google-button-span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 34px;
    width: 35px;
    border-radius: 6px;
    font-size: 18px;
    background-color: #f04236;
    color: #feeae8;
    font-weight: bold;

}

.facebook-google-text-parent {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 12px;
}

.facebook-google-small-text {
    color: #999999;
}

.click-p {
    display: flex;
    flex-direction: row;
    color: #7b7b7b;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 20px;
}
.u-tag{
    color: black;
    margin-left:3px;
    cursor: pointer;
}